@use "colors.scss" as *;

.main {
	&__button {
		position: relative;
		font-size: 2rem;
		padding: 0.6em 0.9em;
		text-transform: uppercase;
		border: none;
		color: $text-color-four;
		background-color: $text-color-three;
		cursor: pointer;
		transform: skew(-15deg);
		transition: transform 0.3s;

		&--buy {
			&:hover {
				transform: scale(1.025) skew(-15deg);
			}
		}

		&--subscribe {
			transform: skew(0);
		}

		&-text {
			transform: skew(15deg);
		}
	}

	&__products-box {
		display: flex;
		justify-content: space-around;
		flex-wrap: wrap;
	}

	&__product {
		display: flex;
		justify-content: space-between;
		width: 400px;
		height: 300px;
		margin: 0 2em;

		&-left {
			width: 40%;
			display: flex;
			flex-direction: column;
			justify-content: flex-end;
		}

		&-right {
			width: 60%;
			display: flex;
			justify-content: center;
			align-items: flex-end;
		}
	}

	&__productimg {
		max-width: 80%;
		max-height: 80%;
	}

	&__title {
		padding: 1em 0;
		font-size: 3.2rem;
		text-align: center;
		text-transform: uppercase;
	}

	&__productname {
		font-size: 2.2rem;
		font-weight: bold;
	}

	&__productdesc {
		padding: 0.25em 0 1em 0;
	}

	&__gifbox {
		padding: 4em 0 0 0;
		height: 50vh;
	}

	&__gif {
		height: 100%;
		width: 100%;
		object-fit: cover;
	}

	&__categories {
		&box {
			display: flex;
			justify-content: center;
		}

		&-list {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			list-style-type: none;
			width: 100%;
		}

		&-item {
			position: relative;
			margin: 1em;
			overflow: hidden;
		}

		&-img {
			position: absolute;
			top: 0;
			width: 100%;
			height: 100%;
			object-fit: cover;
			z-index: -1;
			transition: transform 1s;
		}

		&-link {
			display: flex;
			justify-content: center;
			align-items: flex-end;
			width: 100%;
			height: 300px;
			font-size: 2rem;
			text-transform: uppercase;
			text-decoration: none;
			color: $text-color-one;
			transition: background-color 1s;

			&:hover + img {
				transform: scale(1.05) translateX(5px);
			}

			&:hover {
				background-color: rgba(0, 0, 0, 0.2);
			}
		}

		&-text {
			padding: 0.25em 0.5em;
			margin-bottom: 1em;
			background-color: #fff;
		}
	}

	&__subscribebox {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 1em;
		height: 30vh;
		background-color: $text-color-two;
	}

	&__subscribe {
		padding: 1em 0;

		&-title {
			padding: 0.5em;
			font-size: 2.4rem;
			text-transform: uppercase;
			color: $text-color-four;
		}
	}

	&__inputs {
		display: flex;
	}

	&__input {
		font-size: 1.8rem;
	}

	&__blog {
		padding-bottom: 2em;
		&-list {
			display: grid;
			grid-template-columns: 1fr;
			grid-template-rows: 1fr;
			list-style-type: none;
			width: 100%;
		}

		&-item {
			display: flex;
			flex-direction: column;
			align-items: center;
			margin: 1.5em;
		}

		&-img {
			margin-bottom: 0.5em;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}

		&-title {
			font-size: 2rem;
			text-decoration: none;
			color: $text-color-one;
		}
	}

	&__itemlist {
		display: flex;
		align-items: flex-end;
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 2em 0;
		text-align: center;
		list-style-type: none;
		
		&-item {
			margin: 1em;
			width: 250px;
			text-decoration: none;
		}

		&-img {
			width: 100%;
			height: 100%;
		}

		&-name {
			font-size: 2rem;
			color: $text-color-one;
			text-transform: capitalize;
		}

		&-price {
			color: $price-color;
		}
	}

	&__category-products-top {
		display: flex;
		justify-content: space-between;
		padding-top: 1em;
	}

	&__productscount {
		font-size: 2.2rem;
	}
}
