@media (min-width: 576px) {
	.main {
		&__categories {
			&-list {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}

		&__blog {
			&-list {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}

		&__itemlist-item {
			margin: 1em 0;
		}

		&__item {
			flex-direction: row;
		}
	}
}

@media (min-width: 992px) {
    .main {
		&__categories {
			&-list {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}

		&__blog {
			&-list {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr;
			}
		}

		&__item {
			&-company {
				font-size: 4rem;
			}
	
			&-desc {
				font-size: 2.4rem;
			}
	
			&-icon {
				font-size: 2rem;
			}
	
			&-price {
				font-size: 2.2rem;
			}
		}
	}
}
