@media (min-width: 576px) {
	.main {
		&__categories {
			&-list {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}

		&__blog {
			&-list {
				grid-template-columns: 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}
	}
}

@media (min-width: 992px) {
    .main {
		&__categories {
			&-list {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr;
			}
		}

		&__blog {
			&-list {
				grid-template-columns: 1fr 1fr 1fr;
				grid-template-rows: 1fr;
			}
		}
	}
}
